#about {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    
}



.about-top{
    display: flex;
    position: relative;
    padding: 3.5% 9% 0 9%;
    z-index: 2;
}

.about-picture{
    position: relative;
}

.about-picture-container{
    height: 260px;
    width: 240px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
    position: relative;
    z-index: 1;
    top: 3.6rem;
}

.about-picture img{
    z-index: 2;
    width: 130%;
    position: relative;
    bottom: 20%;
    right: 16%;
}

.about-name{
    padding: 4.2% 4% 2% 4% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--black);
    gap: 1.3rem;
    justify-content: start;
    align-items: start;
    font-weight: 600;
}

.about-name-top{
    font-size: 2rem;
    /* font-weight: 500; */
}
.about-name-mid{
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--green-dk);
    background: radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.about-name-bottom{
    font-size: 2.8rem;
    /* font-weight: 500; */
    
}


.about-name-bottom span{
    color: var(--green-lt);
}




.about-bottom{
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 2;
    position: relative;
}



.about-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.about-tagline{
    margin: 0 0 1rem 8.2rem;
    font-weight: 600;
}

.about-tagline-first{
    color: #52C39D;
}
.about-tagline-second{
    color: #1baa7a;

}
.about-tagline-third{
    color: #54816c;
}



.about-skills-heading{
    color: var(--green-dk);

}

.about-skills-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem 0.3rem;
    flex-wrap: wrap;
    margin-left: 9.3rem;
    justify-content: center;
    font-weight: 600;
}
/* background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%); */

.about-desc{
    width: 75%;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 2rem 0 0 2.5rem;
}

.about-desc span{
    color: var(--green-lt);
}

.about-buttons{
    display: flex;
    gap: 1rem;
}

.about-button{
    padding: 0.6rem 0.4rem 0.6rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 3rem;
    border-radius: 6px;
    display: flex;
    
    justify-content: center;
}
.about-button-1{
    border: 2px solid #1bab7a;
    background: #f7f7f755;
    color: #1baa7a;
}

.about-button-1:hover{
    border: 2px solid #1baa7a;
    color: var(--white);
    cursor: pointer;
    background: #1baa7a9a;
}

.about-button-2{
    border: 2px solid rgba(0,0,0,0);
    background: #1bab7a;
    color: var(--white);
}

.about-button-2:hover{
    border: 2px solid #1bab7a;
    background: #1baa7a9a;
    color: var(--white);
}

.blob{
    position: absolute;
    opacity: 0.6;
    z-index: 0;
}
.blob-1{
    top: 2rem;
}
.blob-2{
    opacity: 0.1;
    right: -5%;
    bottom: -25%;
}