@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-bg: #eaeaea;
  --primary-bg: #fdfdfd;
  --secondary-bg: #f7f7f7;

  --white: #f7f7f7;
  --black: #010203;
  --green-lt: #52c39d;
  --green-dk: #456c5a;

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background: var(--secondary-bg);
  font-family: var(--primary-font);
  overflow: hidden;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

#main {
  /* background-image: url("../images//site-bg.svg"); */
  display: grid;
  grid-template-columns: 1fr 6.5fr;
  height: 100vh;
}

#landing {
  background-color: #fdfdfd;
  overflow: scroll;

  border-radius: 4rem 0 0 4rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#landing::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#landing,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#mobile-nav {
  display: none;
  z-index: 5;
  background-color: #f7f7f7;
}

.css-i9v1sr-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected,
.css-oezmw6-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  background-color: #01020310;
}

.MuiBottomNavigationAction-label {
  font-size: 0.7rem !important;
}

/* #hubspot-messages-iframe-container .hs-shadow-container.active{
  transform: translateY(40px);
  

} */

/* body:has(.services-grid-active:hover) #navigation{
  background-color: rgba(0,0,0,0.5);
  box-shadow: none;
}
body:has(.services-grid-active:hover){
  background-color: rgba(0,0,0,0.5);
  box-shadow: none;
} */

@media (max-width: 780px) {
  #navigation {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  #main {
    display: grid;
    grid-template-columns: 1fr;
  }

  #hubspot-messages-iframe-container.widget-align-right {
    bottom: 8% !important;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  }

  /* body {
    background-color: #00000011;
  } */

  #landing {
    /* background-color: #00000011; */
    overflow: scroll;

    border-radius: 4rem 0 0 4rem;
  }

  /* #main {
    background-image: url("../images//site-bg.svg");
  } */
}

@media (max-width: 480px) {
  #hubspot-messages-iframe-container iframe#hubspot-conversations-iframe {
    height: 92% !important;
  }
}
