.landing-section.landing-projects {
  display: flex;
  flex-direction: column;
  height: auto;
}

.projects-top {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

.projects-text {
  text-align: center;
}

.projects-text-heading {
  font-size: 3rem;
  font-weight: 600;
}

.projects-text-heading > span {
  padding: 0 0.4rem;
}

.projects-text-heading span.last {
  color: #e3ffe7;
  background-color: #21c68a;
}
.projects-text-heading span.first {
  color: #21c68a;
  background-color: #e3ffe7;
}

.projects-text-desc {
  margin-top: 1rem;
  font-size: 1.2rem;
  margin: 2rem 15rem 0 15rem;
}

span.light {
  color: #0dc6b4;
}
span.dark {
  color: #52c39d;
}

.projects-category {
  /* display: flex;
  justify-content: center; */
  margin-top: 2rem;
  justify-self: center;
}

.project-cards-section {
  display: flex;
  flex-direction: column;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  justify-content: center;
  gap: 1rem 1rem;
  margin: 2rem 1rem;
  width: 100%;
  padding-bottom: 5rem;
}

.project-card {
  display: flex;
  min-height: 300px;
  max-height: 300px;
  user-select: none;
}

.project-card:last-child {
  align-self: end;
}

.card-main {
  cursor: pointer;
  background-color: rgb(245, 237, 227);

  width: 400px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  display: grid;
  grid-template-rows: 2fr 1fr;
  transition: 0.2s all;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.card-side {
  position: relative;
  width: 60px;
  margin-left: auto;
  left: -60px;
  transition: 0.2s left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  border: 1px solid rgba(10, 10, 10, 0.1);
}

.card-side-icon {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  transition: 0.2s all;
}
.card-side-icon:hover {
  transform: scale(1.07);
  opacity: 0.6;
}

.card-head {
  position: relative;
  transition: all 0.3s;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.card-head > div {
  position: absolute;
}

.card-head-img {
  width: 100%;
  height: 100%;

  transform: scale(1.15);

  background-size: cover;
  filter: blur(2px) brightness(70%);
  transition: 0.3s all;
}

/* .flightaxisapi-head {
  background: radial-gradient(
    circle at -5.9% 45.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgba(19, 30, 37, 0.6) 24.5%,
    rgba(19, 30, 37, 0.6) 66%
  ),
  url("../images/project-thumbnails/portfolio.png");
} */
.flightaxisapi-head {
  background: radial-gradient(
      328px at 2.9% 15%,
      rgba(191, 224, 251, 0.4) 0%,
      rgba(232, 233, 251, 0.4) 25.8%,
      rgba(252, 239, 250, 0.4) 50.8%,
      rgba(234, 251, 251, 0.4) 77.6%,
      rgba(240, 251, 244, 0.4) 100.7%
    ),
    url("../images/project-thumbnails/flightaxisapi.png");
    color: #939bdc;
}
.student-head {
  background: linear-gradient(to top, #c1dfc4aa 0%, #deecddaa 100%),
  url("../images/project-thumbnails/student.png");
  color: rgb(107, 224, 119)
}
.portfolio-head {
  background-image: linear-gradient(315deg, #3ee57799 0%, #42fcdb99 74%),
    url("../images/project-thumbnails/portfolio.png");
  color: #21c68a;
}
.tonoter-head {
  background-image: linear-gradient(-62deg, #fbac7eaa 0%, #f7cf68aa 100%),
    url("../images/project-thumbnails/tonoter.png");
  color: #d9763d;
}
.tomanage-head {
  background-image: linear-gradient(-62deg, #e3ffe788 0%, #d9e7ff88 100%),
    url("../images/project-thumbnails/landing-illus-1.png");
  background-size: cover;
  color: #6296f0;
}

.todoer-head {
  background-image: linear-gradient(62deg, #4670b3aa 0%, #42c4acaa 100%),
    url("../images/project-thumbnails/todoer.png");
  color: #34baa1;
}

.card-head-img.todoer-head {
  background-size: contain;
}

.weatherapp-head {
  background-image: linear-gradient(-62deg, #0093e9aa 0%, #80d0c7aa 100%),
    url("../images/project-thumbnails/weather.png");
  color: #058ddc;
}

.tonoter-API-head {
  background-image: linear-gradient(-62deg, #fbac7eaa 0%, #f7cf68aa 100%),
    url("../images/project-thumbnails/tonoter-api.png");
}

.os-head {
  background-image: linear-gradient(-60deg, #ff5858aa 0%, #f09819aa 100%),
    url("../images/project-thumbnails/os-paging.png");
  color: #e18a11;
}



/* Design */

.monopoly-head {
  
  background-image: linear-gradient(-60deg, #ff5858aa 0%, #f09819aa 100%),
    url("../images/project-thumbnails/monopoly.png");
  color: #e18a11;
}
.weather-head {
  
  background: linear-gradient(120deg, #e0c3fcaa 0%, #8ec5fcaa 100%),
    url("../images/project-thumbnails/weather-des.png");
  color: #82c0ff;
}
.fempure-head {

  background: radial-gradient(849px at 0.9% 2.8%, rgba(255, 157, 255,0.6) 0%, rgba(255, 102, 142,0.5) 43.4%, rgba(255, 31, 56,0.4) 83.1%),
  url("../images/project-thumbnails/fempure.png");
  color: rgba(255, 102, 142);
}
.vinco-head {
  background: linear-gradient(60deg, #373b44aa, #4286f4aa),
    url("../images/project-thumbnails/vinco.png");
  color: #4286f4;
}

/* 

background: linear-gradient(90deg, #d53369 0%, #daae51 100%); 
background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
background-image: linear-gradient(to right, #42E794, #3BB2B8)
*/

.card-head-text {
  width: 100%;
  height: 15%;
  align-self: end;
  font-size: 1.6rem;
  margin: 1rem 0.5rem 1.2rem 0.8rem;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s all;
  position: relative;
  left: 0;
}

.card-main:hover ~ .card-side {
  left: 0px;
}

.card-side:hover {
  left: 0px;
}

.project-logo {
  transition: 0.2s all;
}

.project-card:hover .card-head {
  height: 215%;
}

.project-card:hover .card-head-img {
  filter: blur(0.5px);
}
.project-card:hover .flightaxisapi-head.card-head-img {
  scale: 1.2;
}
.project-card:hover .card-head-text {
  font-size: 1.6rem;
  font-weight: 600;
  bottom: -2.5%;
}

.project-card:hover .project-logo {
  scale: 0;
}


/* Monopoly */
.project-card:hover .flightaxisapi-head + .card-head-text {
  color: #ACB1D6;
  left: 43%;
  bottom: 10%;
}



/* Heading while box is hovered */
.project-card:hover .flightaxisapi-head + .card-head-text {
  color: #ACB1D6;
  left: 43%;
  bottom: 10%;
}
.project-card:hover .portfolio-head + .card-head-text {
  color: rgb(243, 255, 247);
  left: 32%;
  bottom: -3%;
}
.project-card:hover .tonoter-head + .card-head-text {
  color: #fffbef;
  left: 55%;
}
.project-card:hover .tomanage-head + .card-head-text {
  left: 50%;
  bottom: -3%;
  color: #0094e977;
}
.project-card:hover .weatherapp-head + .card-head-text {
  color: #dbeaff;
  left: 45%;
}
.project-card:hover .todoer-head + .card-head-text {
  color: #e2fcf8;
  left: 60%;
}

.project-card:hover .tonoter-head.tonoter-API-head + .card-head-text {
  color: #fffbef;
  left: 45%;
}
.project-card:hover .os-head + .card-head-text {
  color: #ffe7c4;
  left: 23%;
}
.project-card:hover .student-head + .card-head-text {
  color: #8cbc90;
  left: 25%;
}



/* DESIGN */
.project-card:hover .fempure-head + .card-head-text {
  color: rgba(253, 86, 131, 0.793);
  left: 30%;
  bottom: 18%;
}
.project-card:hover .monopoly-head + .card-head-text {
  color: #f3d8b2;
  left: 22%;
  bottom: 18%;
}
.project-card:hover .weather-head + .card-head-text {
  color: #68b2fde4;
  left: 30%;
  bottom: 18%;
}
.project-card:hover .vinco-head + .card-head-text {
  color: #bbd4fcaa;
  left: 18%;
  bottom: 18%;
}


/* .card-main:hover .card-body{
  display: none;
} */

.card-body {
  transition: 0.2s all;
  padding: 0.6rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: -1;
  background: #f1f1f1;
  border: 1px solid #10101015;
}


.card-body-heading {
  font-size: 1.2rem;
  background: none;
  font-weight: 500;
}
.card-body-desc {
  color: rgba(10, 10, 10, 0.6);
  font-size: 0.85rem;
  margin: 0.2rem 0.2rem 0.2rem 0.1rem;
  font-weight: 500;
  line-height: 1.6;
}
.card-body-desc span {
  font-weight: 600;
}

.project-chips {
  display: flex;
  gap: 0.2rem;
  margin: 0.2rem 0;
}



/* When a new project is added, following three things need to be added for colors */


/* 1.  Card body color */
.card-body.portfolio-head {
  background-image: linear-gradient(315deg, #3ee57720 0%, #42fcdb20 74%);
}
.card-body.tonoter-head {
  background-image: linear-gradient(-62deg, #fbac7e33 0%, #f7cf6815 100%);
}
.card-body.tomanage-head {
  background-image: linear-gradient(-62deg, #e3ffe788 0%, #d9e7ff88 100%);
}
.card-body.flightaxisapi-head {
  background: radial-gradient(
      328px at 2.9% 15%,
      rgba(191, 224, 251, 0.7) 0%,
      rgba(232, 233, 251, 0.7) 25.8%,
      rgba(252, 239, 250, 0.7) 50.8%,
      rgba(234, 251, 251, 0.7) 77.6%,
      rgba(240, 251, 244, 0.7) 100.7%
    );
}
.card-body.todoer-head {
  background-image: linear-gradient(62deg, #4670b315 0%, #42c4ac33 100%);
}
.card-body.weatherapp-head {
  background-image: linear-gradient(-62deg, #0093e925 0%, #80d0c734 100%);
}
.card-body.student-head {
  background: linear-gradient(to top, #c1dfc466 0%, #deecdd66 100%);
}
.card-body.os-head {
  background-image: linear-gradient(-60deg, #ff585825 0%, #f0981944 100%);
}




@media (max-width: 1400px) {
  .projects-text-heading {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .projects-text-desc {
    margin-top: 1rem;
    font-size: 1.1rem;
    margin: 2rem 10rem 0 10rem;

  }
}



@media (max-width: 510px) {
  .project-card {
    scale: 0.85;
  }

}
@media (max-width: 480px) {
  .projects-text-heading {
    font-size: 2.2rem;
  }

  .projects-text-desc {
    margin-top: 1rem;
    font-size: 1rem;
    margin: 2rem 2rem 0 2rem;

  }

  .project-cards {
    gap: 0;
    margin: 0;
  }

  .project-card {
    scale: 0.85;
    user-select: none;
    margin-bottom: -6%;
  }

  .card-head-text {
    font-size: 1.9rem;
  }

  .card-body-heading {
    font-size: 1.4rem;
  }
  .card-body-desc {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
  }

  .project-card:hover .card-head {
    height: 245%;
  }

  .project-card:hover .card-head-text {
    font-size: 1.65rem;
  }
}
@media (max-width: 400px) {
  .project-card {
    scale: 0.75;
    user-select: none;
    margin-bottom: -14%;
  }
  .card-head-text {
    font-size: 2.15rem;
    bottom: 1%;
  }

  .card-body-heading {
    font-size: 1.42rem;
  }
  .card-body-desc {
    font-size: 0.98rem;
    margin-bottom: 0.5rem;
  }

  .project-card:hover .card-head {
    height: 250%;
  }
  .projects-text-heading {
    font-size: 2rem;
  }

}
@media (max-width: 355px) {
  .project-card {
    scale: 0.7;
    user-select: none;
    margin-bottom: -16%;
  }

  .projects-text-heading {
    font-size: 1.7rem;
  }
}
